﻿@{
    ViewData["Title"] = "AddUser";
}

<h2>AddUser</h2>

<div>
    <form id="userForm">

        <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="name" />

        </div>

        <div class="form-group">
            <label for="address" class="control-label">Address:</label>
            <input type="text" class="form-control" id="address" />

        </div>

        <div class="form-group">
            <label for="email" class="control-label">Email:</label>
            <input type="text" class="form-control" id="email" />

        </div>
        <input type="button" value="Save" id="btnSave" />
    </form>

</div>

<div id="showData">
    <table class="table">
        <thead>
        <tr><th>Id</th><th>Name</th><th>Address</th><th>Email</th></tr>
        </thead>
        <tbody id="tblUser">
            
        </tbody>
    </table>

</div>

@section Scripts{ 
    
    <script>
        $(document).ready(function() {
            $("#btnSave").click(function() {

                var user = {};
                user.Address = $("#address").val();
                user.Name = $("#name").val();
                user.Email = $("#email").val();
                $.ajax({
                    type: "POST",
                    url: "/User/AddUser",
                    data: user,
                    success: function (result) {
                        if (result) {
                            populateData();
                            clearAllInputFields();
                        } else {
                            alert("This user with email already exist");
                        }
                        
                    }
                });
            });
        });

        populateData();


    // All Functions

        function clearAllInputFields() {
            $("#userForm").find('input:text').val('');
        }
        function populateData() {
            $.ajax({
                type: "POST",
                url: "/User/GetUserData",
                success: function(result) {
                
                    $("#tblUser").html("");
               
                    for (var i = 0; i <= result.length; i++) {
                        var rows = "<tr>" +
                            "<td>" +
                            result[i].id +
                            "</td>" +
                            "<td>" +
                            result[i].name +
                            "</td>" +
                            "<td>" +
                            result[i].address +
                            "</td>" +
                            "<td>" +
                            result[i].email+
                            "</td>" +
                            "</tr>";
                        $('#tblUser').append(rows);
                    }
                }
            });
        }


    </script>
}